footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $conwaydkgray;
  color: $gray-lightmid;
  .cslogofooter {
    width: 80px;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #fff;
    border-bottom: 1px solid $color-primary-2;
  }
  ul {
    padding-left: 20px;
  }
  .calltoday {
    width: 20%;
    float: left;
    img {
      width: 100%;
    }
  }
  .phone {
    width: 80%;
    float:right;
    font-size: 28px;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      font-size: 20px;
    }
  }
  #contact {
    p {
      clear: both;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #999;
      margin: 1em 0;
      padding: 0;
    }

    .skipperinnovations {
      img {
        width: 100%;
        @media screen and (max-width: 767px) {
          max-width: 360px;
        }
      }
    }
  }
}
#copyright {
  background-color: $conwaydkgray;
  color: #fff;
}
